<html>
<head>
   <title> Survey Form</title>
</head>
<body>
   <!--<h1> This is the result </h1>
   <h1><%= user_data.name %></h1>-->
   <h2> Submited Information </h2>
   <ul>
       <li> Name: <%= user_data.name %> </li>
       <li> Dojo Location: <%= user_data.dojo_location %> </li>
       <li> Favortie Language: <%= user_data.favorite_language %> </li>
       <li> Comment: <%= user_data.comment %> </li>
   </ul>
</body>
</html>